{# src/App/Witness/edito.html.twig #}

{% extends "layout.html.twig" %}

{% block title %}
  Edito - {{ parent() }}
{% endblock %}

{% block body %}
  <div class="btn-lg btn-primary" style="text-align:center;">
  <h1>{{ 'history of homosexuality'|trans }} </h1>

  <p><strong>
  <h3> {{ 'history of homophobia and homosexuality'|trans }}</p>
{{ 'Homosexuality through the ages'|trans }}</strong></h3><br>

</div>
<br>
<br>
<div class="col-md-12">
<strong> {{ 'In history'|trans }}</strong> <br>

<div class="row">
    <div class="col-md-4">

{{ 'homosexuality.history'|trans }}
<!-- Although they are represented only from antiquity, it is clear that gays have always existed, just like heterosexuals. Depending on the historical period and the place in question, homosexuality was either something normal or it was demonized by instances such as Religion or Society (which were in some cases related), considered to be defamation, a perversion, a sin, or even a crime.
Ancient Greece, which is among the earliest historical period where homosexuality and its practices are clearly disclosed, did not seem to condemn them to the extent that it all seemed to be bisexual. However, it turns out that homosexuality between men was possible in Ancient Greece only between a mature man and a young boy, and only from a sexual point of view. The homosexual union was therefore seen at that time only as perversion. -->

  <h4>D'un point de vue scientifique</h4>

    <strong> Dans la Religion</strong><br>

La religion, sans faire d’aparté entre chacune d'entre elles, a su s'inscrire et influencer l'Histoire et la Culture. Elle représentait donc dans la grande majeure des cas -et représente toujours aujourd'hui- un facteur majeur dans ce qui est défini comme normal au sein de la société. L'interdiction d'une quelconque relation que ce soit entre hommes ou entre femmes dans la religion catholique en France par exemple pourrait donc être à l'origine de toutes les pratiques qui visaient à nuire à leur relation et à eux-mêmes (comme la prison ou la condamnation à mort) car elle était du temps du Moyen-Âge, une « abomination », un « crime », nuisant à la vie et la bonne conduite en société. Bien que ça n'a pas toujours été ainsi, la religion avait toujours un regard négatif vis-à-vis, et ce jugement persiste encore aujourd'hui. De nos jours, la peur voire la haine envers ces individus porte un nom : l'Homophobie.
Aujourd'hui, influencée par la culture et la société moderne, elle a su s'adapter et offrir une chance aux homosexuel(le)s d'intégrer le monde religieux, au même titre qu'un couple hétérosexuel. Le mariage (qui est à l'origine l'union de deux individus sous le regard du Démurge de la religion dont il est question) pour tous en est un parfait exemple, bien qu'il soit assez récent (En 2013 en France), ou encore dans la religion catholique où le Catéchisme dit des homosexuels qu'ils doivent être tolérants et les accueillir en faisant preuve de compassion, de délicatesse et de respect.
→ Sources et Citations des sources en question
<br>
<a href="http://croire.la-croix.com/Definitions/Lexique/Homosexuel/L-Eglise-condamne-t-elle-l-homosexualite">l'Eglise et l'homosexualité</a>


(L'homosexualité est condamnée dans beaucoup de traditions religieuses, et, encore récemment, la médecine la considérait comme une maladie et les Etats comme un crime passible d'une peine de prison.L'être humain du XXe siècle, qui est forcément né d'un homme et d'une femme, porte en lui, quels que soient son sexe et son genre, la trace de l'autre sexe et de l'autre genre, il porte en lui une forme de bisexualité psychique.3 % de la population je croisElle condamne au sens moral, Elle dit que l'acte lui-même, moralement, n'est pas ajusté Condamner la personne et tuer le voleur, c'est ajouter un crime à un autre.la loi Taubira un jugement moral négatif.des actes qui sont des péchés, peut avoir une présence dans l'Eglise, bien sûr.Le Catéchisme lui-mêmedit que les personnes homosexuelles doivent être accueillies avec respect, compassion et délicatesse.)

<a href="http://thucydide.over-blog.net/article-5014895.html">Blog</a>
<a href="http://therealscandy.free.fr/humeur/history.htm">histoire et Homosexualité</a>
<a href="http://www.loeildelexile.org/lhomosexualite-est-une-maladie-mentale-ou-un-probleme-emotionnel/">Homosexualité et Psycologie</a>


L'Homosexualité (suite...) :
[…] Dans le cas inverse, si c'était le jeune garçon qui avait le rôle actif dans la relation, cela était au-delà même d'être mal vu quelque chose de jugé immoral. Fait intéressant, avoir eu des relations sexuelles avec un individu du même sexe pendant son adolescence était, notamment dans la Rome Antique, (et plus particulièrement chez les hommes) quelque chose d'obligatoire, et était encré dans les normes de chaque romains → En effet, se tenir à l'écart de ces pratiques, qu'on appelait «pédérastie», relevait d'un acte socialement incorrect et la société le rejetait complètement. Cela revenait à s'opposer à un rituel religieux parmi tant d'autres et à un processus de socialisation par lequel tous les jeunes hommes devaient être confronté : cela la relève de «l'éducation» du jeune homme. De ce temps, l'homosexualité n'était donc pas toujours envisagée comme de l'amour, mais comme une étape dans l'éducation des futurs dirigeants de la cité qui viserait à améliorer la société et les relations humaines.
(A cette époque et jusqu'en 300 après JC, l'hétérosexualité et l'homosexualité n'avaient pas encore lieu d'exister d'un point de vue des sociétés grecque et romaine. Associer ces pratiques/traditions de cette époque au terme «d'homosexualité» relève d'un anachronisme entre l'Antiquité et le Monde Actuel, une déformation langagière dans laquelle on associe ce terme, une idée de ceci, inexistant dans la Rome Antique et partout ailleurs. Une erreur que font de nombreux historiens comme l'écrivaine Sandra Boehringer dans son livre L'Homosexualité Féminine Dans L'Antiquité Grecque Et Romaine.)
Mais comme chaque individu était ce que l'on appelle aujourd'hui «bissexuels», qu'en était-il des femmes de cette époque ? Il faut savoir que comme on peut le voir dans les œuvres représentant «la pratique sexuelle entre deux individus du même sexe» pour ne pas faire d'anachronisme, celle-ci mettaient dans la majeure partie des cas celle entre deux hommes : les «lesbiennes» semblaient susciter moins d'intérêt et de curiosité que les «gays». Il est donc beaucoup plus difficile de traiter de ce cas-ci simplement en se fiant aux différentes œuvres historiques de l'époque. Si on en croit l'autobiographie de Plutarque, un historien Arthénien du premier siècle après J.C., la pratique pédagogique qu'était la pédérastie aurait concerné non seulement les hommes, cela va de soit, mais également les femmes, qui auraient elles aussi durant leur adolescence eu des relations avec une autre femme plus âgée (en tout cas, dans la cité de Sparte). Aucune distinction n'est faite entre la pédérastie entre deux hommes et entre deux femmes : le processus est le même, quelque soit le genre. Cependant, d'autres témoignages révéleraient que le lesbianisme était, dans des sociétés aussi patriarcales, vu comme une opposition au système et à la puissance du mâle dominant, et aurait alors été dénigré beaucoup plus que n'aurait pu l'être deux hommes ensembles.
</div>
<div class="col-md-4">
Cette liberté sexuelle s'est cependant éteinte en 390 lorsque l'empereur romain de cette fin de décennie Théodose condamne l'acte homosexuel, induisant une intégration de l'Empire Romain à la religion chrétienne, qui se développait de plus en plus à travers toute la Rome Antique. Et cette condamnation perdura jusqu'à la fin de l'Ancien Régime, après le passage de la Révolution Française.
Plus aucun droit n'est alors attribué aux homosexuel(le)s. Ils/Elles sont dans la plupart des États d'Europe en perpétuel danger de mort et contraint(e)s pour la plupart de refouler leur homosexualité ou leur bissexualité pour subsister (→ Ceci expliquerait donc qu'il y ait aujourd'hui plus qu'avant, beaucoup plus d'homosexuels selon certains, argument «imparable» utilisé par de nombreux homophobes cherchant à nous faire comprendre que plus ils auront de liberté au sein de la société, plus ils seront nombreux, à tel point qu'il mettrait en danger la perpétuation de l'espèce humaine, les gays et les lesbiennes étant incapables d'avoir de descendance propre. Ils ne sont pas plus nombreux à être homosexuel(le)s, mais plus nombreux à l'assumer car leur société, bien qu'il y ait encore quelques difficultés, le permet.). Les moins discrets sont alors brûlés ou torturés afin d'être «purifiés» de cette «déviance» qui irait à l'encontre de la volonté de Dieu (et on sait combien la religion avait une influence sur la société durant tout le Moyen-Âge). Apparaissent ainsi plusieurs arguments jouant en la faveur de l’Église et des actes barbares qu'elle fait endurer à ces individus, comme celui qui veut que cet acte est non-seulement contre la volonté de leur Créateur, mais qu'il est également «contre-nature», qu'il met en danger la perpétuation de l'espèce,... que ce n'est pas NORMAL. La religion a su imposer ses normes et ses valeurs à tous ses croyants qui constituait alors la très grande majorité des individus, nobles comme paysans.
L'homosexualité était alors bien plus dénigrée et pointée du doigt que l'homophobie.
Un exemple d'homosexuel de cette période est Philippe d'Orléans ou Philippe de France de son vrai nom, le frère de Louis XIV, de deux ans son cadet. Celui-ci, après avoir reçu une éducation s'approchant de celle d'une jeune fille du XVème siècle, s'est avéré avoir eu un goût très prononcé pour les robes ou le maquillage de femmes nobles et également par hasard, homosexuel ou comme on appelait l'homosexualité à l'époque : «le vice italien» (→ N'est perçu que comme de la perversion). Cependant, pour préserver l'honneur de la famille et avoir une descendance, celui-ci est marié de force, sous ordre de son frère à successivement deux femmes, d'abord à la princesse anglaise Henriette, puis à une autre princesse, Palatine, avec qui il eut trois enfants pour chacune d'entre elles. Ceci ne l'empêchera pas malgré tout d'avoir quelques relations sexuelles avec d'autres hommes, cependant à l'abri des regards et uniquement à vocation sexuelle. Seul son statut social qui le situait au sommet l'empêchait de subir des punitions sévères.

Sa situation reflète bien celle des plus «chanceux» des homosexuels de l'époque contraints de se plier aux exigences de la religion malgré leurs préférences sexuelles.
Quant aux autres qui n'auraient pas eu cette chance, ils sont alors soient condamnés à la peine de mort par le biais du bûcher, ou étaient encore torturés parfois jusqu'à la mort. (INTEGRER DES TORTURES DE LA VIDEO DE LINKSTHESUN)
Dire cependant que tous les homosexuels n'ont connu que des périodes sombres relèverait du faux. On a déjà vu le cas de Philippe d'Orléans, mais on peut aussi évoquer l'Angleterre, qui ne semblait d'aucune manière condamner cette orientation sexuelle, ou encore l'acceptation du pape Urbain à l'intégration d'un homosexuel dans l’Église en tant qu'évêque. L’Église semblait jusqu'à lors plus ou moins tolérante à ce sujet, condamnant l'homosexualité comme on condamnait l'adultère à cette époque, soit pas grand-chose. Aussi, à la Renaissance notamment, l'homosexualité parvient à se faire une place dans l'Art, comme la glorification des corps d'hommes par l'artiste Michel Ange ou ses poèmes d'amour à l'intention d'autres hommes, qui connurent cependant une censure en voyant les pronoms personnels de ces mêmes-poèmes passer du masculin au féminin, autrement dit l'homme envers qui le poème est destiné devient ici une femme. Ces privilèges ne sont cependant généralement destinés pour la plupart du temps uniquement à des hommes ou des femmes puissant(e)s (la plupart des homosexuel(le)s restent néanmoins réprimés et punis).

Mais une lutte contre les gais et les lesbiennes revient en force à l'arrivée du XIIIème siècle, notamment grâce au Pape Saint-Thomas d'Aquin qui considérait, comme plutôt dans l'Histoire, cet acte d'opposition à la religion et de contre-nature et qu'il fallait purifier les terres du Tout-Puissant de ces pécheurs.
Mais lorsque la Révolution Française se mit en marche et que l’Église n'eut plus les pleins pouvoirs et ne fut plus en mesure d'influencer le peuple dans son intégralité, les mœurs et la vision de la société vis-à-vis de cette minorité qu'étaient les homosexuel(le)s changèrent radicalement.
Vient ainsi le siècle des Lumières qui permet alors une ouverture sur le sujet avec notamment des débats dans lesquels chacun était libre de se faire sa propre idée sur la question et permettait à cette orientation sexuelle de ne plus être uniquement sujet à condamnation mais à questions plus approfondies, avec certes des arguments contre celle-ci, mais également d'autres penchant en sa faveur.
On peut prendre en exemple les avis des philosophes des Lumières Jérémy Bentham ou encore Cesaria Beccaria, qui objectent tout deux les différentes condamnations qu'ils qualifiaient «d'atroces» qui étaient jusqu'à présent pratiquées et s'opposent même à l'idée que l'homosexualité soit un crime, que ce soit aux yeux de la religion ou de l’État. Pour la première fois depuis longtemps, l'homosexualité est clairement mise en valeur et suscite enfin l'intérêt des gens et les actes d'homophobie sont, par la même occasion, enfin dénoncée sans que celui qui ose les dénoncer ne soit lui-même condamné à une quelconque peine (cependant, l'union de deux individus du même genre était toujours perçu, même aux yeux des philosophes, comme quelque chose d'anormal aux yeux de la société).
</div>
<div class="col-md-4">
La France peut d'ailleurs se vanter d'être le premier pays de l'Histoire à ne pas pénaliser l'homosexualité, le code civil ne faisant pas référence de «crime de sodomie», autrement dit d'acte sexuel entre deux hommes. On peut imaginer que le même «crime» entre deux femmes n'était pas encore aboli à cette époque ou que l'appellation était similaire. Malgré ces réformes qui penchent en la faveur des homosexuels, ils sont toujours victimes d'inégalités notamment sociales par rapport aux hétérosexuels puisqu'ils étaient toujours regardés de haut par les individus dits «normaux» et pouvaient toujours être incarcérés, comme en 1861 en Angleterre, où la peine de prison allait parfois jusqu'à 10 ans, voire la perpétuité. C'est également durant la même période que naît officiellement le terme «d'homosexuel», tel qu'on le connaît et l'utilise aujourd'hui, remplaçant à terme le mot «uranisme» qui signifiait «sexualité inversée», et que d'autres luttes contre les sanctions à l'égard des individus présentant des goûts homosexuels existent comme Kertebeny qui s'opposait à la loi 143 du code pénal de l'Allemagne à travers son ouvrage de 1869 dans lequel il disait de ces sanctions qu'elles s'opposaient à l'idée même des Droits de l'Homme. Mais son témoignage, comme beaucoup d'autres à travers le monde, n'a pas fait beaucoup de bruit et sera surtout une source d'inspiration pour d'autres militants futurs, luttant eux-aussi pour la cause homosexuelle. Enfin la médecine commença elle aussi à se pencher sur ce sujet et qualifia alors les hommes et les femmes «souffrant» d'homosexualité de maladie psychologique (et cette croyance perdurera jusqu'en 1992 en France).
Au XXème siècle, alors qu'on semble parti pour une amélioration de la situation des gais et lesbiennes notamment après la Première Guerre Mondiale, où ils coexistent avec les autres hétérosexuels parfaitement libres et où la tolérance se manifeste de mieux en mieux à leur égard, c'est durant les Trentes Glorieuses que l'homophobie à travers quasiment toute l'Europe reprend de plus belle avec à nouveau des répressions, de la dénigrance et des peines de prison. Au-delà de l'acte, ce serait ici le plaisir de ces individus qui serait condamné. Les nazis quant à eux, bien que très tolérants au début, retournèrent rapidement leurs vestes et adoptèrent la même politique que les autres pays occidentaux, et même plus puisqu'ils auraient transporté de nombreux homosexuel(le)s dans les camps de concentration, au côté des autres juifs, tziganes, et opposants au régime de l'Allemagne Nazie. Ceux-ci étaient parfois davantage maltraités que les autres prisonniers. Et nombreux n'est pas peu dire car ils auraient été selon les rapports nazis, 10 000, et le nombre de victimes selon d'autres s'élèverait à près d'un million de victimes homosexuelles.
En France, alors que le pays semblait avoir instauré une sorte de paix avec les homosexuel(le)s, en partie depuis la Révolution Française vue plutôt, celle-ci alors occupée en partie par l'Allemagne Nazie va alors confier de nombreux/ses homosexuel(le)s aux mains de ses occupants, bien que d'autres comme Jean Marais, purent vivre normalement sans risque de dangers particuliers.
Dans d'autres pays, le régime communiste grandissant toujours plus en URSS, les emprisonnements se font alors nombreux (entre 300 000 et 400 000). En Espagne, l'approbation de la loi sur la dangerosité sociale des gais et lesbiennes permet également l'emprisonnement de ceux-ci. Et en Italie, bien que le pays soit rattaché à l'Allemagne Nazie et que celle-ci l'ait demandé, l'emprisonnement ou la déportation des homosexuel(le)s ne s'est pas faite et jugés cependant comme opposants politiques, se sont vus dans de très nombreux cas licencié(e)s.
A la sortie de la Seconde Guerre Mondiale, comme avec la Première, les homosexuels

vivent à nouveau en toute tranquillité. Mais cette fois-ci, cela s'avère être davantage par manque d'intérêt des différents pays occidentaux vis-à-vis de ce sujet encore normalement tabou à cette époque-là. La politique de ces mêmes États se résume à présent uniquement à «vous être libre à condition de laisser vos pratiques à l'écart de nous». Bien que cela permet plus de tranquillité pour les homosexuels, cet écart envers eux par la société relève de la discrimination. Les tensions entre les hétérosexuels et les homosexuels sont encore palpables mais préfèrent cette fois-ci s'ignorer l'un l'autre, certains disant même que s'ils restaient dans leur coin, étant incapables de procréer, leur «espèce» finira par ne plus exister.
En pleine Guerre Froide, les homosexuel(le)s étaient encore mal vus, jugé(e)s comme étant les plus lâches et capables de divulguer des informations compromettantes à l'ennemi. Encore à cette époque, le comportement d'un individu est encore lié à sa sexualité et dans le cas d'un ou d'une homosexuel(le), celui-ci est honteux et par conséquent inférieur à celui d'un ou d'une hétérosexuel(le). Malgré tout au même moment, l'Amérique du Nord par exemple retire l'homosexualité de son Association psychiatrique, en rétorquant que cette réforme n'avait pas lieu d'être ici.
Pour rester dans la médecine, il y a également l'apparition soudaine et inquiétante du virus de SIDA qui voit le jour officiellement en 1983. La prolifération du Virus a alors automatiquement été assimilée aux homosexuels car ils seraient les plus nombreux à en être les victimes et cela a alors induit à une nouvelle vague de stéréotypes et de haine envers cette communauté. Des recherches scientifiques plus poussées permettront par la suite de constater que le virus se transmet plus facilement par voie anale, autrement dit : la sodomie a en fait plus de chance de permettre la transmission du VIH que la pénétration si il n'y a pas de protections, expliquant pourquoi les hommes entre eux ont effectivement davantage de chances d'être contaminés.

[...]
      </div>
    </div>
</div>
  <div class="col-md-12">
      <div class="row">

       <div class="col-md-6">


        <ul>
            <li><a href="https://dumas.ccsd.cnrs.fr/dumas-00740149/document">Dumas</a></li>
            <li><a href="http://www.adheos.org/histoire-de-l-homosexualite-gay-lgbt-antiquite-a-nos-jours">Histoire de l'homosexualité, Antiquité  à nos jours</a></li>
            <li><a href="http://gayglobe.us/blog/?p=988">Gay dans le monde</a></li>
            <li><a href="http://tpe-homosexuel.over-blog.com/2016/01/les-lois-essentielles-a-l-evolution-des-droits-homosexuels.html">Droit et Homosexualité</a></li>
            <li><a href="https://homophobie.jimdo.com/histoire-de-l-homosexualit%C3%A9/moyen-age/">Histoire de l'homosexualité</a></li>
            <li><a href="http://tpe2011.canalblog.com/archives/2010/12/03/20536553.html">Canal Blog</a></li>
            <li><a href="http://www.atoute.org/n/forum/showthread.php?t=6931">Forum</a></li>
        </ul>

Gay Pride, Tchétchénie, Hôpitaux pour Homosexuel(le)s, Publicité IKEA, Mariage Homosexuel, Russie, Yuri et «Mangay»
     </div>
   </div>
 </div>
 <a class="btn btn-secondary" style="float:right;" href="#">Haut de page</a>
</div>

{% endblock %}
